.dashboard {
    h2 {
        text-align: center;
        margin-bottom: 20px;
    }
    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        a {
            background-color: #5f7d8c;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 150px;
            height: 100px;
            cursor: pointer;
            transition: all 0.3s;
            text-decoration: none;
            color: #ffffff;
            font-size: 18px;
            font-weight: 700;
            &:hover {
                opacity: 0.8;
            }
        }
    }
}
