.top-bar {
    h1 {
        font-weight: 800;
        margin-bottom: 20px;
    }
    .btn {
        text-decoration: none;
        color: #78919d;
        padding: 10px 15px;
        border: none;
        outline: none;
        margin-right: 16px;
        border-radius: 5px;
        font-weight: 600;
        background-color: #eeeeee;
        cursor: pointer;
        transition: all 0.3s;
        &.btn--active {
            color: #02978e;
        }
        &:hover {
            color: #02978e;
            background-color: #d2dadc;
        }
    }
}
